
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
}
#map {
    height: 105%;
    width: 110%;
}
#overlay {
    position: absolute;
    top: 0;
    left: 50px; 
    width: 35%; 
    height: 100%;
    background-color: rgba(26, 23, 23, 0.8); 
    padding: 20px;
    box-shadow: 2px 0 5px rgba(255, 234, 234, 0.1);
    overflow-y: auto;
    z-index: 1000; 
    color: white; 
}
.location-details img {
    max-width: 100%;
    margin-top: 10px;
}
#location-images img {
    width: 100%; 
    height: auto; 
    max-height: 270px; 
    margin-top: 20px;
    border-radius: 25px;
}
#location-geo, #location-elevation {
    color: gold; 
}
@media (max-width: 768px) {
    #overlay {
        width: 44%;
    }
}
